* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
ul, li, p, html, body, h3, form {
 padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}


body {
  background-color: #e6e6e6;
}
.whole {
  position: fixed;
  background-color: red;
  height: 100vh;
  width: 200%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  top: 0;
  left: 2.5%;
  width: 95%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.home {
  width: 33%
  
}

.nav {
  width: 33%;
  text-align-last: center;
}

.about {
  width: 33%;
  text-align: right;
}

.contain {
  width: 95%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  z-index: 3;
  height: 200%;
}

.centertile {
  margin: auto;
  text-align: center;
  margin-top: 57px;
  padding-top: 8vh;
  height: 89vh;
  background-color: white;
  border: 2px solid #00ff00;
}

#name {
  margin: 5%;
  margin-top: 13vh;
  font-family: "Ubuntu", sans-serif;
  color: #e6e6e6;
}

.graph {
  margin: auto;
  width: 100px;
  height: 100px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#headed {
  margin: auto;
}

.intersection {
  margin: auto;
  width: 60%;
  margin-bottom: 2%;
}

.asterix {
  margin: auto;
  width: 80%;
  margin-top: 4%;
  margin-bottom: 2%;
}

#lineleft {
  width: 15%;
  border-top: 2px solid #333333;
  position: relative;
  top: 12px;
  left: 0px;
}

#lineright {
  width: 15%;
  border-top: 2px solid #333333;
  position: relative;
  top: 12px;
  margin-left: 85%;
}

.intersections {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-column-gap: 2.5%;
}

.headspace {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 15px;
  background-color: white;
  width: 100%;
  border: 2px solid #00ff00;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #e6e6e6;
}

.sides {
  border: 2px solid #00ff00;
  background-color: white;
  margin-bottom: 5%;
}

.tite {
  padding: 15px;
  border-bottom: 2px solid #00ff00;
  font-family: 'Menlo', monospace;
  color: #00ff00;
  font-size: 24px;
}

.contents {
  padding: 15px;
  display: flex;
}

.greyblock {
  margin-top: 2.5%;
  position: relative;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-gap: 2.5%;
}

.broad {
  height: 300px;
  background-size: 800px;
  background-position: center;
  border-bottom: 2px solid #00ff00;
}

.work {
  border: 2px solid red;
  background-color: transparent;
  margin-bottom: 2.5%;
}

.label {
  padding: 15px;
  width: auto;
  height: 50px;
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;
  margin-right: 2%;
  font-family: sans-serif;
  color: white;
}

#rhiz {
  background-image: url(IMAGES/rhizome%20landing.png);
}

#zim {
  background-image: url(IMAGES/Screen%20Shot%202018-03-17%20at%201.19.03%20AM.png)
}

.aboutme {
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-gap: 2.5%;
  background-color: white;
  border: 2px solid #00ff00;
  padding: 1.5%;
}

@media screen and (min-width:20em) {
 
  
}

@media screen and (min-width:40em) {
  

  
}

@media screen and (min-width:60em) {

}

@media screen and (min-width:80em) {
  
}





/*footer*/

.footer {
  background-color: #e6e6e6;
  display: block;
  top: 0;
  clear: both;
  height: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border-bottom: 80px solid black;
  
}

.leftfoot {
  background-color: #00ff00;
  height: auto;
  display: inline-block;
}

.middlefoot {
  display: inline-block;
}

.rightfoot {
  background-color: #e6e6e6;
  display: inline-flex;
  clear: none;
}
  
.copyright {
  padding: 5%;
  margin-left: 50%;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.intergraph {
  width: 50%;
  padding-left: 5%;
  text-align: center;
}

.getsocial {
  font-family: "menlo", monospace;
  margin-right: 2.5%;
}
  
.socialicon {
  margin-top: 5Vh;
  width: 50px;
  margin-right: 2.5%;
  padding: auto;
}