* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
ul, li, p, html, body, h3, form {
 padding: 0;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}


body {
  background-color: #e6e6e6;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.whole {
  position: fixed;
  background-color: red;
  height: 100vh;
  width: 200%;
}


#circtwo {
  display: block;
  top: 5px;
  margin: auto;
    width: 74px;
    
 
}




.header {
  position: fixed;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  top: 0;
  left: 2.5%;
  width: 95%;
  max-width: 1500px; 
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 57px;
margin: auto; 
left: 0;
right: 0;
    border-bottom: 2px solid black;
}

.home {
  width: 33%
}

.nav {
  width: 33%;
  text-align-last: center;

}

.homecall {
    color: black;
}

.homecall:hover {
    color: black;
    transition: 1s;
    font-size: 19px;
}

.about {
  width: 33%;
  text-align: right;
}

.contain {
  width: 95%;
  max-width: 1500px;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  z-index: 3;
  height: 200%;
}

.centertile {
  margin: auto;
  text-align: center;
  margin-top: 54px;
  padding-top: 8vh;
  height: 89vh;
  background-color: white;
  border: 2px solid black;
}

#name {
  margin: 5%;
  margin-top: 13vh;
  font-family: 'ubuntu', sans-serif;
  color: #e6e6e6;
  font-size: 40px;
}

.graph {
  margin: auto;
  width: 100px;
  height: 0px;
  font-family: "Maven Pro", sans-serif;
}

#headed {
  margin: auto;
}

.intersection {
  margin: auto;
  width: 60%;
  margin-bottom: 2%;
  color: black;
}

.asterix {
  margin: auto;
  width: 80%;
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: "Menlo", monospace;
  font-size: 24px;
}




.headspace {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 15px;
  background-color: white;
  width: 100%;
  border: 2px solid black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  color: #e6e6e6;
}

.sides {
  border: 2px solid black;
  background-color: white;
  margin-bottom: 5%;
}

.tite {
  padding: 15px;
  border-bottom: 2px solid black;
  font-family: 'Menlo', monospace;
  color: black;
  font-size: 24px;
}

.contents {
  padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  display: flex;
    flex-wrap: wrap;
}



@keyframes zoom {
    from {background-size: 100%;}
    to {background-size: 130%;}
}

.broad {
  height: 300px;
  background-size: 100%;
  background-position: center;
  border-bottom: 2px solid black;
  background-repeat: no-repeat;
}

.broad:hover {
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}


.work {
  border: 2px solid red;
  background-color: transparent;
  margin-bottom: 2.5%;
}

.label {
  padding: 15px;
  width: auto;
  height: 50px;
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;
  margin-right: 2%;
  font-family: sans-serif;
  color: white;
    margin-top: 2%;
}

#agora {
  background-image: url(IMAGES/agora-thumbnail.jpg)
}

#fullbleed {
  background-image: url(IMAGES/opensource%20design.jpg)
}

#market {
  background-image: url(IMAGES/DAT04.jpg);
}

#botnet {
  background-image: url(IMAGES/botnetphoto00.jpg);
}

#opent {
  background-image: url(IMAGES/stickerscover.jpg);
}

#rhiz {
  background-image: url(IMAGES/Rhizome_03cover.jpg);
}

#zim {
  background-image: url(IMAGES/zimcover.jpg);
}

#trace{
  background-image: url(IMAGES/Trace_Cover.jpg);
}

#jug {
  background-image: url(IMAGES/Juggalo_02.jpg);
}

#sab {
  background-image: url(IMAGES/frontsab.jpg);
  background-position: bottom;
}

#kim {
  background-image: url(IMAGES/kimchi_01cover.jpg);
}



.lefty {
  padding: 2.5%;
}

.righty {
  border-left: 2px solid black;
}

.meabout {
}

.yeshi {
  padding: 2.5%;
  border-bottom: 2px solid black;
}

.headshot {
    width: 100%;
    max-width: 500px;
}




/*footer*/

.footer {
  background-color: #e6e6e6;
  display: block;
  top: 0;
  clear: both;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom: 80px solid black;
  font-size: 12px;
  
}



.leftfoot {
  background-color: black;
  height: auto;
  display: inline-block;
    text-align: left;
  color: #e6e6e6;
}

.middlefoot {
  display: inline-block;
    margin-left: 7.9%;
    border-left: 2px solid black;
}

.rightfoot {
  background-color: #e6e6e6;
  display: block;
  clear: none;
border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 0px;
    margin-top: 0px;
}
  

.intergraph {
    display: block;
  width: 50%;
    height: auto;
    margin-top: 40px;
  padding-left: 0%;
  text-align: center;
    margin: auto;
    
}

.minor {
    width: 90%;
}

.svg {
   margin-top: 40px; 
    
}

.legup {
    margin-top: 4vh;
}

.thinline {
    display: block;
  float: right;
    height: 28vh;
    padding-right: 5.5%;
    padding-left: 5.5%;
   border-left: 2px solid black;
}

.getsocial {
    
  font-family: "menlo", monospace;
  margin-right: 3.5%;
  padding-right: 2.5%;
    padding-left: 5.5%;
  margin-top: 40px;

}
  
.socialicon {
  margin-top: 2Vh;

}

.mono {
  font-family: "Menlo", monospace;
}

.socialicon:hover * .fun {
  fill: white;
}

#showmorework {
  display: block;
    outline: 2px solid black;
    padding: 16px;
    width: 200px;
    margin: auto;
    margin-top: 7vh;
    margin-bottom: 7vh;
    background: none;
    font-family: "Menlo", monospace;
    color: black;
    font-size: 23px;
}

#showmorework:hover {
  background-color: black;
  color: white;
  transition: 1s;
  transform: scale(1.05);
}

#nudge {
    margin-top: 5%;
}

.alonzo {
    padding: 2.5%;
}

/*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*//*20em*/

@media only screen and (min-width: 5em) {
    .intersections {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
}
    
.greyblock {
  margin-top: 2.5%;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2.5%;
} 
    
.aboutme {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2.5%;
  background-color: white;
  border: 2px solid black;
}
    
    .holdme {
    max-width: 1500px;
    width: 95%;
    margin: auto;
    display: grid;
     grid-template-columns: 100%;
    border-top: 2px solid black;
    }
    
    .footer {
  background-color: #e6e6e6;
  display: block;
  top: 0;
  clear: both;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom: 80px solid black;
  font-size: 12px;
  
}


.leftfoot {
  background-color: black;
  height: auto;
  display: inline-block;
    text-align: center;
}

.middlefoot {
  display: inline-block;
    border-left: 0px;
    width:100%;
    margin-left: 0%;
}

.rightfoot {
  background-color: #e6e6e6;
  display: block;
  clear: none;
    margin-top: 40px;
    border-top: 2px solid black;
border-left: 0px;
    border-right: 0px;
}
  
.copyright {
  padding: 5%;
  padding-top: 8vh;
  padding-bottom: 8vh;
    margin-left: 0%;
    width: 100%;

}

.intergraph {
    display: block;
  width: 50%;
    height: auto;
    margin-top: 40px;
  padding-left: 5%;
  text-align: center;
    margin: auto;
    
}

.minor {
    width: 80px;
}

.svg {
   margin-top: 40px; 
    
}

.legup {
    margin-top: 4vh;
}

.thinline {
    float: none;
    display: block;
    margin: auto;
    width: 10px;
    height: 150px;;
    padding-right: 5.5%;
    padding-left: 5.5%;
    border: none;
}

.getsocial {
    
  font-family: "menlo", monospace;
  padding-right: 2.5%;
    padding-left: 5.5%;
  margin-top: 40px;

}
    
#lineleft {
  width: 15%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  left: 0px;
}

#lineright {
  width: 15%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  margin-left: 85%;
} 
    
     .portrait {
        float: none;
    
    }
    
    #diminish {
        display: none;
    }
    
    h1 {
        font-size: 46px;
    }
    
    h4 {
        font-size: 22px;
    }
    
  .tite{
    border-top: 0px solid black;
  }
  
  .righty {
  border-left: 0px;
}
    
}

/*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*/

@media only screen and (min-width: 40em) {
    .intersections {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
}
    
    .greyblock {
  margin-top: 2.5%;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2.5%;
}
    
    .aboutme {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2.5%;
  background-color: white;
  border: 2px solid black;
}
 
    .holdme {
    max-width: 1500px;
    width: 95%;
    margin: auto;
    display: grid;
     grid-template-columns: 49.5% 25% 25.5%;
    border-top: 2px solid black;
    }
    
    .footer {
  background-color: #e6e6e6;
  display: block;
  top: 0;
  clear: both;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom: 80px solid black;
  font-size: 12px;
  
}



.leftfoot {
  background-color: black;
  height: auto;
  display: inline-block;
    text-align: left;
}

.middlefoot {
  display: inline-block;
    margin-left: 7.9%;
    border-left: 2px solid black;
}

.rightfoot {
  background-color: #e6e6e6;
  display: block;
  clear: none;
border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 0px;
    margin-top: 0px;
    border-top: none;
}
  
.copyright {
  padding: 5%;
    width: 100%;
  margin-left: 0%;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.intergraph {
    display: block;
    width: 50%;
    height: auto;
    margin-top: 40px;
  text-align: center;
    margin: auto;
    margin-left: 25%;
    padding-left: 0;
    
}

.minor {
    width: 80px;
}
    
    .svg {
   margin-top: 40px; 
    
}

.legup {
    margin-top: 4vh;
}

.thinline {
    display: block;
  float: right;
    height: 28vh;
    padding-right: 5.5%;
    padding-left: 5.5%;
   border-left: 2px solid black;
    width: auto;
}

.getsocial {
    
  font-family: "menlo", monospace;
  margin-right: 3.5%;
  padding-right: 2.5%;
    padding-left: 5.5%;
  margin-top: 40px;

}
  
.socialicon {
  margin-top: 2Vh;

}
    #lineleft {
  width: 20%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  left: 0px;
}

#lineright {
  width: 20%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  margin-left: 80%;
}
    
    #diminish {
        display: none;
    }
    
    h1 {
        font-size: 64px;
    }
  

    
}

/*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*//*60 em*/

@media screen and (min-width: 60em) {
    
    .intersections {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-column-gap: 2.5%;
}
    
    .greyblock {
  margin-top: 2.5%;
  position: relative;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-gap: 2.5%;
}
    .aboutme {
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-gap: 2.5%;
  background-color: white;
  border: 2px solid black;
}
    
    .holdme {
    max-width: 1500px;
    width: 95%;
    margin: auto;
    display: grid;
     grid-template-columns: 49.5% 25% 25.5%;
    border-top: 2px solid black;
    }

.copyright {
  padding: 5%;
    width: 50%;
  margin-left: 50%;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
    #lineleft {
  width: 18%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  left: 0px;
}

#lineright {
  width: 18%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  margin-left: 82%;
}
    
    .portrait {
        float: left;
    }
    
    #diminish {
        display: inline-block;
        clear: none;
    }
  
  .tite{
    border-top: 0px;
  }
  
    .righty {
  border-left: 2px solid black;
}
}


/*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*//*80em*/

@media screen and (min-width: 85em) {
    
        #lineleft {
  width: 30%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  left: 0px;
}

#lineright {
  width: 30%;
  border-top: 2px solid black;
  position: relative;
  top: 12px;
  margin-left: 70%;
}
}

/*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*//*menu*/



