

h1 {
  font-family: "Ubuntu", serif;
}

h4 {
  color: black;
}

p {
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
}

.subtite {
  clear: both;
  display: block;
  margin: auto;
  width: 500px;
  text-align: center;
  color: black;
}

.logotype {
  width: 500px;
}

.rhizome {
  display: block;
  margin: auto;
  width: 500px;
  margin-top: 200px;
}

.leftlean {
  display: block;
  width: 100%;
  margin-top: 100px;

}

.rightlean {
  display: block;
  float: right;
  width: 100%;
  right: 0px;
   
}

.rightdisplay {
    display: block;
  float: right;
  margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 8vh;
  
}

.bigright {
    width: 100%;
}

.connect {
  width: 160px;
  margin: auto;
}

.work {
  color: black;
  font-size: 24px;
}

.anticap {
  width: 400px;
  margin: auto;
  text-align: center;
}

.nimble {
  font-family: 'Menlo', monospace;
  font-size: 34px;
  color: black;
}

.radical {
  margin-top: 160px;
}

.twoofakind {
  width: 800px;
  margin: auto;
  display: block;
}

#mids {
  margin-top: 160px;
  padding-left: 45px;
}

.low {
  margin-top: 100px;
  margin-bottom: 200px;
  
}

.sumtop {
  background-color: white;
  padding: 2.5%;
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  clear: both;
}

.headed {
  display: block;
  margin: auto;
  width: 600px;
}

.fingerprint {
  width: 600px;
}

.bigger {
  width: 600px;
  margin: auto;
  font-size: 80px;
  font-family: "Menlo", monospace;
  font-weight: 700;
  text-align: center;
  margin-top: 4vh;
}



.imagebok {

}

.connectdots {
  width:100%;
}

.gridright {
  border-left: 2px solid #00ff00;
}

.gridleft {
  padding: 2.5%;
}

.holder {
  padding: 2.5%;
  margin-bottom: 8vh;
}

#inspo {
  border-right: 2px solid #00ff00;
  border-left: 0px;
}

.sketch {
  margin-bottom: 4vh;
  margin-top: 4vh;
  padding: 2.5%;
}


}

.workings {
  display: block;
  margin: auto;
  width: 95%;
}

.redline {
  width: 100%;
}

#rightswing {
  margin-left: 51.75%;
  width: 48.25%;
  background-color: white;
  display: block;
  border: 2px solid #00ff00;
}

#final {
  margin-bottom: 2.5%;
}

#moveit {
  margin-top: 2.5%;
}



#don {
  margin-top: 2.5%;
}

#bump {
  margin-top: 2.5%;
}

@media screen and (min-width: 20em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid #00ff00;
display: grid;
grid-template-columns: 100%;
    width: 100%;
    
}
    .rightaside {
  margin-left: 0%;
  width: 100%;
  background-color: white;
  display: block;
  border: 2px solid #00ff00;
}
    .special {
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  background-color: white;
  width: 100%;
    
}
}
@media screen and (min-width: 40em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid #00ff00;
display: grid;
grid-template-columns: 100%;
    width: 100%;
    
}
    
    .rightaside {
  margin-left: 51.75%;
  width: 48.25%;
  background-color: white;
  display: block;
  border: 2px solid #00ff00;
}
    
    .special {
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  background-color: white;
  width: 49.25%;
    
}
@media screen and (min-width: 60em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid #00ff00;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid #00ff00;
display: grid;
grid-template-columns: 50% auto;
    width: 100%;
    
}
    
}
@media screen and (min-width: 80em){
    
    
}