.heavy {
  top: 20vh;
  background-color: dimgrey;
  height: 1300px;
}

h1 {
  font-family: "Ubuntu", serif;
}

h4 {
  color: black;
}

.subtite {
  clear: both;
  display: block;
  margin: auto;
  width: 500px;
  text-align: center;
  color: black;
}

.logotype {
  width: 500px;
}

.rhizome {
  display: block;
  margin: auto;
  width: 500px;
  margin-top: 200px;
}

.leftlean {
  display: inline-block;
  width: 50%;
  margin-top: 100px;
}

.rightlean {
  display: inline-block;
  float: right;
  width: 49%;
  right: 0px;
}

.rightdisplay {
  float: right;
  margin-top: 80px;
  
}

.connect {
  width: 160px;
  margin: auto;
}

.work {
  color: black;
  font-size: 24px;
}

.anticap {
  width: 400px;
  margin: auto;
  text-align: center;
}

.nimble {
  font-family: 'Menlo', monospace;
  font-size: 34px;
  color: black;
}

.radical {
  margin-top: 160px;
}

.twoofakind {
  width: 800px;
  margin: auto;
  display: block;
}

#mids {
  margin-top: 160px;
  padding-left: 45px;
}

.low {
  margin-top: 100px;
  margin-bottom: 200px;
  
}
