

h1 {
  font-family: "Ubuntu", serif;
}

h4 {
  color: black;
}

p {
  font-size: 20px;
  font-family: 'Maven Pro', sans-serif;
}

.git {
  color: black;
  text-decoration: underline;
}

.subtite {
  clear: both;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  color: black;
}

.logotype {
  width: 96%;
}

.rhizome {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 30vh;
}

.leftlean {
  display: block;
  width: 100%;
  margin-top: 100px;

}

.rightlean {
  display: block;
  float: right;
  width: 100%;
  right: 0px;
   
}

.rightdisplay {
    display: block;
  float: right;
  margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 8vh;
  
}

.bigright {
    width: 100%;
}

.connect {
  width: 160px;
  margin: auto;
}

.work {
  color: black;
  font-size: 24px;
}

.anticap {
  width: 100%;
  margin: auto;
  text-align: center;
}

.nimble {
  font-family: 'Menlo', monospace;
  font-size: 34px;
  color: black;
}

.radical {
  margin-top: 160px;
}

.twoofakind {
  width: 800px;
  margin: auto;
  display: block;
}

#mids {
  margin-top: 160px;
  padding-left: 45px;
}

.low {
  margin-top: 100px;
  margin-bottom: 200px;
  
}

.sumtop {
  background-color: white;
  padding: 2.5%;
  border: 2px solid black;
  margin-bottom: 2.5%;
  clear: both;
  height: auto;
}

.headed {
  display: block;
  margin: auto;
  width: 100%;
    max-width: 600px;
  margin-top: 5vh;
}

.fingerprint {
  width: 600px;
}

.bigger {
  width: 100%;
  margin: auto;
  font-size: 80px;
  font-family: "Menlo", monospace;
  font-weight: 700;
  text-align: center;
  margin-top: 4vh;
}



.imagebok {

}

.fouractions {
  display: block;
  padding: 2.5%;
  margin-bottom: 2.5%;
  background-color: white;
  
}

.actionicon {
  margin: auto;
  width: 95px;
}

.whole {
  width: 100%;
  background-color: white;
  display: block;
  position: relative;
  margin-bottom: 2.5%;
  border: 2px solid black;
  height: auto;
}

.action {
  display: inline-flex;
  width: 24.5%;
  margin: auto;
}

.actiontalk {
  padding: 5%;
  text-align: center;
  padding-top: 10%;
}

.brand {
  display: inline-flex;
  width: 32%;
  margin: auto;
}

.brandicon {
  margin: auto;
  width: 187px;
}

#botposter {
  margin-top: 2.5%;
}

#postertwo {
  margin: 5%;
  border-left: none;
}

#posttwo {
  margin: 2.5%;
  border-left: none;
}

#sculpture {
  margin-top: 2.5%;
}


.connectdots {
  width:100%;
}

.gridright {
  border-left: 2px solid black;
}

.gridleft {
  padding: 2.5%;
}

.holder {
  padding: 2.5%;
  margin-bottom: 8vh;
}

#inspo {
  border-right: 2px solid black;
  border-left: 0px;
}

.sketch {
  margin-bottom: 4vh;
  margin-top: 4vh;
  padding: 2.5%;
}


.leverage {
  width: 500px;
  text-align: center;
  margin: auto;
}

.lineup {
  height: 80px;
  width: 0px;
  border-left: 2px solid black;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.agora {
  font-family: 'Inknut Antiqua', serif;
  width: 100px;
  margin: auto;
  text-align: center;
}

.workings {
  display: block;
  margin: auto;
  width: 95%;
}

.redline {
  width: 100%;
}

#rightswing {
  margin-left: 51.75%;
  width: 48.25%;
  background-color: white;
  display: block;
  border: 2px solid black;
}

#final {
  margin-bottom: 2.5%;
}

#moveit {
  margin-top: 2.5%;
}



#don {
  margin-top: 2.5%;
}

#bump {
  margin-top: 2.5%;
}

@media screen and (min-width: 20em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid black;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid black;
display: grid;
grid-template-columns: 100%;
    width: 100%;
    
}
    .rightaside {
  margin-left: 0%;
  width: 100%;
  background-color: white;
  display: block;
  border: 2px solid black;
}
    .special {
  border: 2px solid black;
  margin-bottom: 2.5%;
  background-color: white;
  width: 100%;
    
}
  
  .gridright {
  border-left: 0px;
}
  
  #inspo {
  border-right: 0px;
  border-left: 0px;
}
}
@media screen and (min-width: 40em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid black;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid black;
display: grid;
grid-template-columns: 100%;
    width: 100%;
    
}
    
    .rightaside {
  margin-left: 51.75%;
  width: 48.25%;
  background-color: white;
  display: block;
  border: 2px solid black;
}
    
    .special {
  border: 2px solid black;
  margin-bottom: 2.5%;
  background-color: white;
  width: 49.25%;
    
}
@media screen and (min-width: 60em){
    .process {
  background-color: white;
  padding: 2.5%;
  border: 2px solid black;
  margin-bottom: 2.5%;
  display: grid;
  grid-template-columns: 49.25% 48.25%;
  grid-column-gap: 2.5%;
  padding: 0%;
}
    
    .heavy {
  top: 20vh;
  height: auto;
  background-color: white;
  border: 2px solid black;
display: grid;
grid-template-columns: 50% auto;
    width: 100%;
    
}
  
  .gridright {
  border-left: 2px solid black; 
    
}
  
  #inspo {
  border-right: 2px solid black;
  border-left: 0px;
}
}
@media screen and (min-width: 80em){
    
    
}